.projectCard {
	filter: grayscale(100%);
	transition: filter 0.5s ease-in-out;
	scale: 90%;
	transition: scale 0.5s ease-in-out;
}

.projectCard:hover {
	filter: grayscale(0%);
	scale: 95%;
	transform: translateY(-10px);
	transition: transform 0.5s ease-in-out, scale 0.5s ease-in-out;
}